body {
    background-color: bisque;
}

.guideline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    width: fit-content;
    text-align: center;
}

.guide1 {
    padding: 1em;
    background-color: aquamarine;
}

.guide2 {
    padding: 1em;
}

.guide3 {
    padding: 1em;
    background-color: coral;
}